{
	"title": "StatusBarPro",
	"bundleId": "com.muzikeji.statusbarpro",
	"version": "1.0.5",
	"build": "1",
	"minimumOSVersion": "14.0",
	"CFBundleIconFiles": ["Icon"],
	"CFBundleIdentifier": "com.muzikeji.statusbarpro.prefs",
	"CFBundleName": "StatusBarPro",
	"CFBundleVersion": "1.0.5",
	"CFBundleShortVersionString": "1.0.5"
}
